/* TSOS.css */

body {
  background: #F0F0F0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

table{
	border-collapse:collapse;
	border:1px solid #000000;
}

table td{
	background-color:#FFFFFF;
	border:1px solid #000000;
}

table th{
	background-color:#FFFFFF;
	border:1px solid #000000;
}

#display {
  background-color:#FFFFFF;
  border: 1px solid black;
  cursor: default;
}

#status {

}

#datetime {

}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
